#Use the URL you get after opening the Readium extention in the chrome browser and copy-paste the url address from the browser page
URL=chrome-extension://innalocjjemblbfejaiglgcjenilcepg/index.html

#The address of the packed extention of the chrome-app from the chrome browser 
BUILD_HOME=/Users/~name~/gitrep/readium-js-viewer/build/chrome-app

#Excel file containing the test cases
DATAFILE=data/readium_auto.xlsx

#Path of the Epub Books in the autotest directory
BOOK_HOME= ./data/books/

#Default chrome browser
BROWSER=chrome

#Size of the Window to be opened 
WIDTH=1100
HEIGHT=800

#Log file path in the res folder
RESULTS_HOME=./res