#URL=chrome-extension://kjcalkgmdcchgdkhifjgimbihdnfgphe/index.html
URL=chrome-extension://innalocjjemblbfejaiglgcjenilcepg/index.html
BUILD_HOME=/Users/jasleens/gitrep/readium-js-viewer/build/chrome-app
DATAFILE=data/readium_auto.xlsx
BOOK_HOME= /Users/jasleens/gitrep/readium/autotest/data/books/
BROWSER=chrome
WIDTH=1100
HEIGHT=800
RESULTS_HOME=./res